<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>User Management</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
<link href="../static/css/a.css" th:href="@{/css/a.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#" th:href="@{/users/list}"><img height="26" 
             th:src="@{https://media-exp1.licdn.com/dms/image/C4E0BAQF6qgY7v-Kikw/company-logo_200_200/0/1551570773507?e=1620864000&v=beta&t=IHYo1Rc_sEqIvnUIkF_9cpQ7xb9nt7htgKAQsvM5OAU}" class="brand_logo}" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" th:href="@{/users/list}">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <span class="navbar-text">
      Craft User Management
    </span>
  </div>
</nav>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${users}" class="container my-5">
					<p class="my-5">
						<a href="/users/signup" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add User</i></a>
					</p>
					<div class="col-md-10">
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Department</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.firstname}"></td>
										<td th:text="${user.lastname}"></td>
										<td th:text="${user.department}"></td>
										<td><a th:href="@{/users/edit/{id}(id=${user.id})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td><a
											th:href="@{/users/delete/{id}(id=${user.id})}"
											class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
									
								</tbody>
							</table>
							
				</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>